.page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.grid_button {
    background-color: #3882F6;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    margin-top: 30px;
    width: 150px;
    height: 60px;
}

.grid_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: fixed; */
    padding: 0;
    margin-top: 30px;
    top: 0;
    left: 0;
    width: 750px;
    height: 750px;
    border: 2px solid black;
    /* height: 800px; */
    /* height: 50px; */
    /* width: 100%; */
}

.grid_row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 750px;
    /* height: 50px; */
    /* width: 100%; */
    /* height: 100%; */
}

.grid_square {
    border: 0.5px solid black;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}